# Core dependencies
streamlit
pandas
pdf2image
pytesseract
Pillow
faiss-cpu
scikit-learn
tqdm
regex

# Layout-aware processing
layoutparser[layoutmodels]
torch
torchvision
opencv-python

# LLM + RAG
langchain
langchain-core
langchain-community
# git+https://github.com/langchain-ai/langchain.git@master#subdirectory=libs/experimental

# Chart OCR
ChartOCR # @ git+https://github.com/zmykevin/ChartOCR.git

# Embeddings
sentence-transformers

# Optional
python-dotenv
watchdog